<!-- <p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>
 -->



<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

<!-- Button trigger modal -->

<!-- <div>
  <div *ngFor="let obj of products">
    {{obj.name}}
   </div>
</div> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid row">
  <!-- <a class="navbar-brand  " href="#">Navbar</a> -->
  <form [formGroup]="dataForm">
    <!-- <div class="fluidcontainer-"> -->
      <div class="row">

          <! -- columns having unequal lengths -->
          <! -- bg-success is background color -->
          <div class="col-md " formControlName="from" >
            <input type="text" placeholder="Enter Currency" >
          </div>
          <div class="col-md ">
            <div class="row" >
              <label for="" >From</label>
              <select class="my-3" formControlName="oldCurrency">
                <option value="" disabled >Old Country Code</option>
                <option *ngFor="let code of Currencies" [value]="code">
                  {{code}}
                </option>
                </select>
                <!--  -->

                <label for="" >To</label>

                <select class="my-3" formControlName="newCurrency">
                  <option value="" disabled >New Country Code</option>
                  <option *ngFor="let code of Currencies" [ngValue]="code">
                    {{code}}
                </select>


              <button class="my-3" type="submit">Submit</button>
            </div>
          </div>
          <div class="col-md " formControlName="To">
            {{value}}
          </div>
      </div>
  <!-- </div> -->
  </form>



</nav>
