<!-- <p>Table is just a mapping of objects to table rows with <code>ngFor</code></p>
 -->



<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<form class="modal fade"  [formGroup]="dataForm"  (ngSubmit)="submit()" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
          </button>

          <select formControlName="Currency" type="text" class="form-control" id="Currency" placeholder="Currency" >
            <option value="" disabled>Choose Currency Code</option>
            <option *ngFor="let Currency of Currencies" [ngValue]="Currency">
                {{Currency}}
            </option>
          </select>
          <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> -->
          <!-- <select [(ngModel)]="selectedValue">
            <option *ngFor="let c of countries" [ngValue]="c">{{c.name}}</option>
          </select> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" >Save changes</button>
      </div>
    </div>
  </div>
</form>
<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Product</th>
      <th scope="col">Value</th>
      <!-- <th scope="col">Population</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sample of sampleData; index as i">
      <!-- <th scope="row">{{ i }}</th> -->
      <td>

        {{sample.id}}
      </td>
      <td>{{ sample.Product }}</td>
      <td>{{ sample.Value | currency:Curr}}</td>
    </tr>
  </tbody>
</table>
